@import "tailwindcss";
/* Scrollbar Track */
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

/* Scrollbar Track background */
::-webkit-scrollbar-track {
background: rgb(44, 2, 75);
border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
background: linear-gradient(180deg, indigo, purple);
border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
background: linear-gradient(180deg, purple, indigo);
}

/* Rocket Effect  */
@keyframes rocketLaunch {
0% {
transform: translateY(0);
opacity: 0;
}
30% {
opacity: 0.5;
}
100% {
transform: translateY(-100vh);
opacity: 0;
}
}





body{
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
/* background-color: indigo;
/* background-image: url("./assets/bg-25.jpg");
background-repeat: no-repeat;
background-size:contain;
background-position: center; */
} 



